*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/* Dark mode colors. */
:root {
	--sl-color-accent-low: #072d00;
	--sl-color-accent: #247f00;
	--sl-color-accent-high: #aad7a0;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eaf0e8;
	--sl-color-gray-2: #bdc4bb;
	--sl-color-gray-3: #82907f;
	--sl-color-gray-4: #4f5c4d;
	--sl-color-gray-5: #303c2d;
	--sl-color-gray-6: #1f2a1c;
	--sl-color-black: #151a13;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #c0e2b8;
	--sl-color-accent: #237b00;
	--sl-color-accent-high: #0d3e00;
	--sl-color-white: #151a13;
	--sl-color-gray-1: #1f2a1c;
	--sl-color-gray-2: #303c2d;
	--sl-color-gray-3: #4f5c4d;
	--sl-color-gray-4: #82907f;
	--sl-color-gray-5: #bdc4bb;
	--sl-color-gray-6: #eaf0e8;
	--sl-color-gray-7: #f4f7f3;
	--sl-color-black: #ffffff;
}
a{
    text-decoration: none;
}
.addcolortext{
    color: green;
}

.float{
    background-color: green;
    border-radius: 0.5rem;
    width: 2rem;
    height: 5rem;
    font-size: 1.5rem;
    position: relative;
    bottom: 1.5rem;
}

.astro-jbfsktt5 h1 {
  background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.btn{
    border-radius: 0.3em;
    background-color: rgba(1, 135, 0, 0.8);
    width: 9em;
    height: 3em;
}

/* Custom Directives */

.importanttext{
    background-color: yellow;
    color: black;
}

/* CARDS */

.astro-v5tidmuc:nth-of-type(2){
  background-color: rgba(1, 135, 0, 0.8);
  backdrop-filter: blur(1px);           /* glass blur effect */
  border: 1px solid rgba(0, 135, 0, 0.6); /* light green border */
  box-shadow: 0 4px 20px rgba(0, 128, 0, 0.7);

}
.astro-v5tidmuc:nth-of-type(3){
  background-color: rgba(1, 135, 0, 0.8);
  backdrop-filter: blur(3px);           /* glass blur effect */
  border: 1px solid rgba(0, 135, 0, 0.6); /* light green border */
  box-shadow: 0 4px 20px rgba(0, 128, 0, 0.7);

}

.card-grid:where(.astro-zntqmydn) > .astro-v5tidmuc:nth-of-type(1) {
  /* backdrop-filter: blur(0.2px);            */
  border: 1px solid rgba(0, 135, 0, 0.4); /* light green border */
  box-shadow: 0 4px 20px rgba(0, 128, 0, 0.4);
}


.astro-v5tidmuc:nth-of-type(4){
  /* backdrop-filter: blur(0.2px);          */
  border: 1px solid rgba(0, 135, 0, 0.4); /* light green border */
  box-shadow: 0 4px 20px rgba(0, 128, 0, 0.4);
}



.sl-link-button:where(.astro-xwgiixxa):nth-of-type(1){
  background-color: rgba(1, 135, 0, 0.8);
  color: white;
}
.sl-link-button:where(.astro-xwgiixxa):nth-of-type(2){
  background-color: rgba(1, 135, 0, 0.8);
  color: white;
  width: 30%;
  text-align: center;
  padding: 1.2rem;
}

